@using EntityLayer.Concrete
@model Writer
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Writer</h2>

<br />

@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Name")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)

        @Html.Label("Surname")
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Surname)

        @Html.Label("E-Mail")
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email)

        @Html.Label("Password")
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)

        @Html.Label("Image")
        @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Image)

        @Html.Label("Title")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Title)

        @Html.Label("About")
        @Html.TextBoxFor(x => x.About, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.About)

        <br />

        <button class="btn btn-dark">Create</button>
    </div>
}

