@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "UpdateHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>UpdateHeading</h2>

<br />

@using (Html.BeginForm("UpdateHeading", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.CreatedAt)
        @Html.HiddenFor(x => x.WriterId)
        @Html.HiddenFor(x => x.Status)

        @Html.Label("Name")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)

        @Html.Label("Category")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryId)
        <br />

        <button class="btn btn-warning">Update</button>
    </div>
}
